project:
  type: website
  output-dir: docs

execute:
  echo: true
  warning: false
  message: false
  fig-align: center
  fig-width: 12
  dpi: 300

website:
  title: "tidytuesday"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    code-overflow: wrap




